
.section{
    display:block;
    width: 100vw;
    min-height: 100vh;
    scroll-snap-align: start;
    justify-content: center;
}

.about-container {
    width: 100vw;
    display: grid;
    column-gap: 20px;
    row-gap: 2px;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    
}

.intro {
    padding: 2vw;
}

.photo {
    padding-left: 2vw;
    padding-right: 0;
    padding-bottom: 5vh;
    width: min(90%,calc(0.61 * 90vh));
    justify-self: end;
}

.profile{
    
    align-self:start;
    width: 100%;
    aspect-ratio: 0.61;
    object-fit: cover;
    border-radius: min(2.5vh,2.5vw);
    
}


.text{
    position: relative;
    left: 5vw;
    padding: min(5vw,50px);
    font-size: 2.2rem;
    text-align: left;
    list-style: none;
    justify-content: left;
    max-width: min(60vw,1200px);
    color: #ffffffdc;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.text a {
    color: #ffcb96;
    transition: all 0.1s ease-in-out;
}

.text a:hover {
    color: orange;
    font-size:110%;
    font-weight: 200;
}

.text a1 {
    font-size: 120%;
    font-weight: 300;
    color: #ff850cee;
    
}

.text li{
    margin-bottom: 5vh;
    line-height: 5vh;
    padding: min(1vw,1vh);
}

.text-education{
    position: relative;
    left: 5vw;
    padding: 2vw;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: left;
    display: block;
    justify-content: left;
    max-width:min(90%,1400px);
    color: #ffffffd5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.text-education li {
    margin-bottom: 20px;
}
.text-education a {
    font-size: 130%;
    font-weight: 300;
    color: #ffa74f;
    padding: 15px;
}

.text-education a1 {
    font-size: 115%;
    font-weight: 300;
    color: #ff850cf3;
}

.text-education a2 {
    font-size: 115%;
    font-weight: 300;
    color: #ffcb96;
}

.text-education d {
    font-size: 90%;
    font-weight: 300;
    color: #ffa74f;
}


.text-experience{
    position: relative;
    left: 5vw;
    padding: min(3vw,3vh);
    font-size:  1.5rem;
    font-weight: 100;
    text-align: left;
    display: block;
    justify-content: left;
    max-width:min(90%,1400px);
    color: #ffffffd5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.text-experience li {
    margin-bottom: 5px;
}
.text-experience a {
    font-size: 130%;
    font-weight: 300;
    padding: 5px;
    color: #ffa74f;
}

.text-experience a2 {
    font-size: 115%;
    font-weight: 300;
    color: #ffcb96;
}

.text-experience d {
    font-size: 90%;
    font-weight: 300;
    color: #ffa74f;
}