@keyframes fadeInFromR {
    from {
        opacity: 0;
        transform: scale(0.6) translateX(+200px);
        color: #a0a0a000;
    }
    
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInFromB {
    from {
        opacity: 0;
        transform: scale(0) translateY(+200vw) translateX(-200px);
        color: #a0a0a000;
    }
    
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInFromR {
    animation: fadeInFromR 2s ease-out
}

.fadeInFromB {
    animation: fadeInFromB 2s ease-out;
}

.section-home {
    display:block;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    font-size:  min(56px,10vw);
}

#reveal1 {
    opacity: 0;
    -webkit-transform: scale(0.9);
         -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
             -o-transform: scale(0.9);
                    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
         -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
             -o-transition: all 1s ease-in-out;
                    transition: all 1s ease-in-out;
}
#reveal1.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}
.greet {
    position: relative;
    top: 7vh;
    padding: 1vh;
    font-size:  min(56px,8vw);
    text-align: center;
    display: flex;
    justify-content: center;
    color: #e6e6e6;
    font-family:Georgia, 'Times New Roman', Times, serif;
    animation-duration: 2.5s;
    
}

.intro {
    position: relative;
    top: 10.5vh;
    padding: 1vh;
    font-size:  min(60px,11vw);
    text-align: left;
    display: flex;
    justify-content: center;
    color: #de6f00;
    font-family:'Times New Roman', Times, serif;
    animation-duration: 3.5s;
}


.intro a1{
    transition: all 0.2s ease-in-out ;
}
.intro a1:hover{
    font-size:105%;
    color: #ffb468;
}

.info {
    position: relative;
    top: 15vh; 
    padding: 1vh;
    font-size: 40px;
    text-align: center;
    justify-self: center;
    display: flex;
    padding-left: 15vw;
    padding-right: 15vw;
    color: #cecece;
    font-family:'Times New Roman', Times, serif;
    list-style: none;
    animation-duration: 4s;
}

.info .show{
    display:flex
}

.info a1{
    transition: all 0.2s ease-in-out;
}

.info a1:hover{
    color: #ffb468;
    font-size:102%
}

.section-home:nth-of-type(1){
    height: 100vh;
    color: olivedrab;
}

.section-home:nth-of-type(2){
    background-color: #242539;
    color: rgb(112, 152, 32);
}

.section-home:nth-of-type(3){
    background-color: #e5e5fb;
    color: rgb(131, 183, 29);
}