@keyframes fadeInFromR {
    from {
        opacity: 0;
        transform: scale(0.6) translateX(+200px);
        color: #a0a0a000;
    }
    
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInFromB {
    from {
        opacity: 0;
        transform: scale(0) translateY(+200vw) translateX(-200px);
        color: #a0a0a000;
    }
    
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInFromR {
    animation: fadeInFromR 2s ease-out
}

.fadeInFromB {
    animation: fadeInFromB 2s ease-out;
}

.section-home {
    display:block;
    width: 100vw;
    height: 80vh;
    justify-content: center;
}

#reveal1 {
    opacity: 0;
    -webkit-transform: scale(0.9);
         -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
             -o-transform: scale(0.9);
                    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
         -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
             -o-transition: all 1s ease-in-out;
                    transition: all 1s ease-in-out;
}
#reveal1.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}

.box {
    display: flex;
    justify-content: center;
}
.greet {
    position: sticky;
    padding: 1vh;
    top: 5vh;
    font-size:  2.5rem;
    display: inline-flex;
    color: #e6e6e6;
    font-family:Georgia, 'Times New Roman', Times, serif;
    animation-duration: 2.5s;
}

.intro {
    position: sticky;
    padding: 1vh;
    font-size: 3.5rem;
    display: inline-flex;
    color: #de6f00;
    font-family:'Times New Roman', Times, serif;
    animation-duration: 3.5s;
}

.intro a1{
    transition: all 0.2s ease-in-out ;
}
.intro a1:hover{
    font-size:105%;
    color: #ffb468;
}

.typewrite-greet {
    display: inline-block;
    width:0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid transparent;
    animation: 
        typing 2.5s steps(27) .2s forwards,
        cursor .4s step-end 8 alternate;
}

.typewrite-intro {
    display: inline-block;
    width:0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid transparent;
    animation: 
        typing 1.4s steps(14) 3.5s forwards,
        cursor .4s step-end 10 alternate 3.5s;
}

@keyframes cursor {
    50% {border-color: rgba(255, 255, 255, 0.644);}
}

@keyframes typing {
    to {width : 100%}
}
.info {
    position: flex;
    padding: 1vh;
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-left: 15vw;
    padding-right: 15vw;
    color: #cecece;
    font-family:'Times New Roman', Times, serif;
    list-style: none;
    animation-duration: 5s;
}

.info a1{
    color: #fcd9b5;
    transition: all 0.2s ease-in-out;
}

.info a1:hover{
    color: #ffb468;
    font-size:102%
}

.box-definition {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    font-size: 1.5rem;
}

.box-definition definition {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #faf7f793;
    text-align: center;
    width: min(1000px,80vw);
    opacity: 0;
}

.box-definition definition.fade {
    animation: fade 1s forwards;
}

.box-definition definition a1 {
    color: #fcd9b5;
}

@keyframes fade {
    from{ opacity: 0;}
    to { opacity: 1;}
}

.section-home svg {
    display: block;
}    

.section-home:nth-of-type(1){
    height: 115vh;
    color: olivedrab;
}

.section-home:nth-of-type(2){
    height:60vh;
    background-color: #c5c5d2;
    color: rgb(112, 152, 32);
}

.section-home:nth-of-type(3){
    background-color: #242539;
    color: rgb(131, 183, 29);
}