@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInFromT {
    from {
        opacity: 0;
        transform: translateY(-100vh);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeIn {
    animation: fadeIn 1s ease-in-out;
}

.fadeInFromT {
    animation: fadeInFromT 1s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Add a background color and some padding to the body */
body {
    background-color: #01021b;
    width: 100vw;
    height: 300vh;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    color: white;
}

header {
    font-size: 3rem;
}

nav {
    display: flex;
    justify-content: space-between;
}

/* Style the "Menu" button */
#menu-button {
    position: absolute;
    top:4vh;
    right: 10vw;
    background-color: transparent;
    border: none;
    color: rgb(234, 234, 234);
    cursor: pointer;    
    font-size: 3rem;
    padding: 0.2vh;
    font-weight: 100;
    transition: all 0.2s ease-in-out;
}

#menu-button:hover {
    color: orange;
    font-size: 110%;
    font-weight: 200
}

#lang-button{
    position: absolute;
    top:4vh;
    right: 5vw;
    background-color: transparent;
    border: none;
    color: rgb(234, 234, 234);
    cursor: pointer;    
    font-size: max(15px,min(2.25vw,25px));
    padding: 0.2vh;
    transition: all 0.2s ease-in-out;
}

nav ul {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #01021be6;
    color: #fff;
    padding: 20px;
    z-index: 1;
    flex-direction: column; /* Change the direction of the menu items */
    align-items: center; /* Align the menu items to the left */
    justify-content: center;
    opacity: 0; /* Make the menu list invisible by default */
    
}

nav ul.show{
    display: flex;
    opacity: 1
}

nav ul li {
    margin-bottom: 50px; /* Add a margin-bottom between the menu items */
    font-weight: bold; /* Make the menu items bold */
}


nav ul li a {
    font-size: 4rem; /* Increase the font size of the menu items */
    color: #fff;
    font-family: arial;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    padding: 60px 5px ;
    font-size: 4.5rem;
    color: rgb(244, 188, 140);
}

h1 {
    font-size: 10em;
    margin-bottom: 20px;
}

.container {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
}


.title{

    position: relative;
    left: 12vw;
    padding: 10px;
    font-size:  4rem;
    font-weight:bolder;
    text-align: left;
    display: flex;
    justify-content: left;
    color: #ebebeb;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.title-small{
    position: relative;
    left: 12vw;
    padding: 2vw;
    font-size: 3rem;
    font-weight:bolder;
    text-align: left;
    display: flex;
    justify-content: left;
    color: #e7e7e7;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#logo-button {
    margin: min(50px, 4vh,3vw);
    text-indent: -200vw;
    background-color: transparent;
    background-image: url('../images/logo F grey.png');
    background-size: min(10vw,10vh);
    height: min(9.25vh,9.25vw);
    width: min(10vh,10vw);
    cursor: pointer;
    border: none;
}

footer {
    display: block;
    height: 20vh;
    background-color: #01021b;
}
